.rbc-time-header {
  border-bottom: 1px solid var(--color-gray-lighter);
}
.rbc-time-header-content {
  border-left: 1px solid var(--color-gray-lighter);
}

.rbc-header {
  padding: 10px 4px;
  border-bottom: 0;
  color: var(--color-gray-medium);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Calendário */
.rbc-calendar {
      border: none;
    outline: none;
    min-width: 0;
}

/* Linha de horário */
.rbc-time-content {
  border-top: none;
}

/* Coluna das horas */
.rbc-time-gutter {
  background: var(--color-white);
}

.rbc-time-gutter .rbc-timeslot-group {
  border-bottom: 1px solid #f1f3f5;
}

.rbc-label {
  font-size: 12px;
  font-weight: 600;
  color: #868e96;
}

/* Espaçamento das linhas */
.rbc-timeslot-group {
  min-height: 70px;
  border-bottom: 1px solid #f1f3f5;
}

/* Eventos */
.rbc-event {
  border: none !important;
  border-radius: 8px !important;
  padding: 8px 10px !important;
  box-shadow: none;
  font-size: 13px;
  font-weight: 600;
  background-color: var(--color-primary) !important;
  color: var(--color-text-dark) !important;
}

.rbc-event-label {
  display: none;
}

/* Evento selecionado */
.rbc-selected {
  opacity: 1;
  outline: 2px solid var(--color-text-dark);
  outline-offset: -2px;
}

/* Linha atual */
.rbc-current-time-indicator {
  height: 3px;
  background: #ff4d4f;
}

/* Hoje */
.rbc-today {
  background: var(--color-white) !important;
}

/* Remove bordas verticais */
.rbc-time-content > * + * > * {
  border-left: 1px solid #f1f3f5;
}

/* Scroll */
.rbc-time-content::-webkit-scrollbar {
  width: 6px;
}

.rbc-time-content::-webkit-scrollbar-thumb {
  background: #ced4da;
  border-radius: 999px;
}

/* Mobile */
@media (max-width: 768px) {
  .rbc-header {
    padding: 8px 2px;
    font-size: 10px;
  }
  .rbc-label {
    font-size: 11px;
  }

  .rbc-event {
    font-size: 12px;
    padding: 6px 8px !important;
  }

  .rbc-timeslot-group {
    min-height: 60px;
  }
}
