:root {
    --default-font-family: Poppins;

    --default-text-color: #4A4A3D;
    --bg-color: #f4f4f4;

    --color-primary: #f2b705;
    --color-primary-hover: #d99f04;
    --color-primary-active: #c48f03;

    --color-white: #ffffff;
    --color-gray-light: #c9c8c8;
    --color-gray-medium: #aaaaaa;
    --color-gray-lighter: #ebebeb;
    --color-text-dark: #4a4a3d;

    /* Bootstrap core */
    --bs-font-sans-serif: Poppins;
    --bs-border-width: 2px;

    --bs-primary: var(--color-primary);
    --bs-body-color: var(--default-text-color);
    --bs-body-bg: var(--bg-color);

    --bs-white: #ffffff;
    --bs-gray-light: #f8f8f8;
    --bs-secondary: var(--color-gray-light);
    --bs-light: var(--color-gray-lighter);
    --bs-dark: var(--color-text-dark);
    --bs-dark-rgb: 74, 74, 61;

    --bs-border-color: var(--color-gray-light);
    --bs-link-color: var(--color-primary);
    --bs-link-hover-color: var(--color-primary-hover);

    --bs-btn-disabled-bg: var(--color-primary);
    
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ecb306;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
    color: var(--bs-btn-color) !important;
}

.text-primary {
    --bs-text-opacity: 1;
    color: var(--color-primary) !important;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: var(--color-primary) !important;
}

.btn-outline-primary {
    --bs-btn-color: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-primary);
    --bs-gradient: none;
}

.btn {
    --bs-btn-border-radius: 8px;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.mb-6 {
  margin-bottom: 4rem !important;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
    padding: 0;
    margin: 0;
    color: var(--default-text-color);
}

html {
    font-family: var(--default-font-family);
    background-color: var(--bg-color);
}

#root {
    background-color: var(--bg-color);
}

.tirr__header__border-color {
    border-color: var(--bs-light) !important;
}

.tirr__header {
    top: 0;
    width: 100%;
    height: 65px;
    position: sticky;
    background-color: white;
    z-index: 1;
}

.tirr__header__content-item {
    width: 32px;
    height: 32px;
    font-size: 14px;
    transition: 0.3    
}

.tirr__page__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.tirr__page__btn-outline-border {
    outline: 1px solid var(--color-primary);
}


.tirr__calendar-time-page__calendar-container {
    max-width: 440px;
}

.tirr__calendar-time-page__btn-hours {
    --bs-btn-border-radius: 13px !important;
    font-size: 14px;
    padding: 8px
}

.tirr__calendar-time-page__calendar-grid {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    display: grid;
    column-gap: 14px;
    row-gap: 6px;
    padding-inline: 12px;
}

@media (max-width: 399px) {
    .tirr__calendar-time-page__calendar-grid {
        column-gap: 6px;
        padding-inline: 8px;
    }
}

.tirr__calendar-time-page_btn-date-icons {
    border: none;
    background-color: #fff;
    color: #fff;
    padding: 0.45rem;
}

.tirr__calendar-time-page_btn-date-icons:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    opacity: var(--bs-btn-disabled-opacity);

}

.tirr__calendar-time-page__calendar-item {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tirr__validaditon-page__info-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tirr__validaditon-page__info-item {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.tirr__profile-page__border-color {
    border-color: #E2E4E5 !important;
}

/* ADMIN */

.tirr__admin__mobile-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  left: 0;
  background-color: white;
  z-index: 200;
}

.tirr__admin__mobile-menu__item {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-decoration: none;
  min-width: 64px;
}

.tirr__admin__mobile-menu__item {
    color: var(--default-text-color);
}

.tirr__admin__mobile-menu__item:hover,
.tirr__admin__mobile-menu__item.active {
    color: var(--color-primary);
}

.tirr__admin__mobile-menu__item.active {
    font-weight: 700;
}

.tirr__admin__mobile-menu__label {
    margin: 0;
}

.tirr__admin-layout main {
    height: calc(100vh - (80px + 72px));
    overflow: auto;
}

.tirr__admin__profile-avatar {
    width: 56px;
    height: 56px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tirr__admin__topbar-notification {
  position: relative;
  border: none;
  background: transparent;
  color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tirr__admin__topbar-badge {
  position: absolute;
  top: -4px;
  right: -8px;

  min-width: 18px;
  height: 18px;
  padding: 0 5px;

  border-radius: 999px;
  color: #fff;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tirr__topbar {
    height: 72px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--color-gray-lighter);
}
